LINE_CHANNEL_ACCESS_TOKEN="input your LINE token key"
LINE_MESSAGE_API_GROUP_ID="input your LINE group ID to sent"
spread_sheet_key = "input your google spread sheet key"
jsonfile = 'input your google access key'
SEARCH_WORDS='input your interested system','input your interested GM','クトゥルフ','ゆうやけこやけ'
